{% extends 'base.html' %}
{% block title %}GamersFirst{% endblock %}
{% block content %}
{% for message in messages %}
  <div class="alert alert-dismissible alert-success">
    <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
    <center><strong>{{message}}</strong></center>
  </div>
{% endfor %}
<div class="container mt-3">
    <div class="row">
        {% for element in produits %}
            <div class="col-md-3">
                <h2 style="color:rgb(255, 99, 71)">{{element.name}}</h2>
                <br>
                <!-- send element name (product name) to the url (detail) -->
                <a href="{% url 'detail' element.pk %}"><img src="{{ element.image.url }}" style="width: 100%;max-width: 400px;height: auto;" width="600" height="400"></a>
                <br>
                <strong style="color:black;font-family:verdana;">{{element.price}}</strong>
                <br>
                <p>
                    {%if element.countInStock <= 0 %}
                        <span class="badge bg-danger">Out of Stock</span>
                    {% else %}
                        {% if not user.is_superuser %}
                        <a href="{% url 'add_productcart' element.pk %}" class="btn btn-warning me-2"><b>Add To Cart</b></a>
                        {% endif %}
                    {% endif %}
                </p>
            </div>
        {% endfor %}
    </div>
</div>
{% endblock %}